@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --ligth-blue: #e0ecff;
  --blue: #3485ff;
  --bg-color: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-ligth: #e5ead1;

  font-size: 62.5%; /* 10px */
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

body,
button,
input,
textarea {
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-size: clamp(14px, 1.6rem, 2vw);
}
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  border-width: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip-path: rect(0, 0, 0, 0);
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: auto;
  grid-area: "header";
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.navbar > .logo {
  margin: 35px 0px 0px 150px;
}

/* Buttons Style & Input Style */
.btn {
  text-align: center;
  margin: 14px 0px 0px 0px;
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
}
.btn-outline {
  border: 2px;
  margin: 0px;
  color: var(--blue);
  background-color: transparent;
}
.input,
.btn {
  width: 100%;
  height: 40px;
  line-height: 0;
  border-radius: 8px;
  border-style: solid;
}

.input .icon-svg,
.btn .icon-svg {
  margin-right: 1rem;
}

.input {
  padding: 0px 0px 0px 16px;
  background-color: transparent;
  border-color: var(--grey-blue);
}
.input::placeholder {
  font-size: 1.6rem;
  color: var(--grey-blue);
}
