.app-ilustration {
  width: auto;
  height: auto;
}

.app-content {
  width: auto;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
}

.app-header,
.app-footer {
  width: 100%;
  height: auto;
  line-height: 40px;
}

.app-header h2,
.app-footer h2 {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 24px 0px;
  color: var(--black);
}
.sr-only {
  display: none;
}

.app-separator {
  width: 100%;
  margin: 40px 0px 40px 0px;
  font-size: 16px;
  font-weight: 400;
  flex-direction: row;
  color: var(--grey-blue);
}
.app-separator::after,
.app-separator::before {
  content: "";
  width: 100%;
  border: 1px;
  margin: 13px;
  border-style: solid;
  border-color: var(--grey-blue);
}
