.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas:
    "header header"
    "left right";
}

.app-ilustration {
  width: 100%;
  height: 100vh;
  grid-area: "left";
  background-image: url("../assets/svg/Ilustracao.svg") no-repeat top/content;
}

.app-content {
  width: auto;
  height: auto;
  grid-area: "right";
  /* margin-left: 15%;
  margin-right: 15%; */
}

.app-header,
.app-footer {
  width: 100%;
  height: auto;
  line-height: 40px;
}

.app-header h2,
.app-footer h2 {
  width: 100%;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0px 0px 24px 0px;
  color: var(--black);
}

.app-separator {
  width: 100%;
  margin: 40px 0px 40px 0px;
  font-size: 1.6rem;
  font-weight: 400;
  flex-direction: row;
  color: var(--grey-blue);
}
.app-separator::after,
.app-separator::before {
  content: "";
  width: 100%;
  border: 1px;
  margin: 13px;
  border-style: solid;
  border-color: var(--grey-blue);
}
