<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheet/global.css" />
  <link rel="stylesheet" href="../stylesheet/home.css" />
  <link rel="shortcut icon" href="../assets/svg/fav-icon.svg" type="image/x-icon" />
  <title>Criar Sala - Roquet.Q</title>
</head>

<body>
  <section class="container">
    <header class="navbar flex-navbar">
      <div class="logo ">
        <a href="#">
          <img src="../assets/svg/logo.svg" alt="">
        </a>
      </div>
    </header>

    <figure class="app-ilustration"></figure>
    <main class="app-content flex-center">
      <header class="app-header">
        <h2> Entre como participante </h2>
        <label for="room-code" class="sr-only">
          Código da sala
        </label>
        <input type="text" name="room-code" placeholder="Código da sala" id="room-code" class="input">
        <button class="btn flex-center" type="button">
          <div class="btn-div flex">
            <figure class="icon-svg">
              <img src="../assets/svg/log-in 1.svg" alt="
                Entrar na sala">
            </figure>
            Entrar na sala
          </div>
        </button>
      </header>

      <div class="app-separato">
        ou
      </div>

      <footer class="app-footer">
        <h2> Crie sua própria sala, de forma fácil </h2>
        <button class="btn btn-outline flex-center" type="button">
          <div class="btn-div flex">
            <figure class="icon-svg">
              <img src="../assets/svg/users 1.svg" alt="">
            </figure>
            Criar sala
          </div>
        </button>
      </footer>
      </form>
    </main>
  </section>
</body>

</html>