<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheet/style.css" />
  <link rel="shortcut icon" href="../assets/svg/fav-icon.svg" type="image/x-icon" />
  <title>Roquet.Q</title>
</head>

<body>
  <section class="container container-grid bg-color">
    <header class="navbar flex-navbar">
      <div class="logo">
        <a href="#">
          <img src="../assets/svg/logo.svg" alt="">
        </a>
      </div>
    </header>
    <figcaption class="app-ilustration bg-green">
      <img class="ilustration" src="../assets/svg/Ilustracao.svg" alt="">
    </figcaption>
    <main class="app flex-center">
      <form>
        <header>
          <h2> Entre como participante </h2>
        </header>
        <div>
          <p> or </p>
        </div>
        <footer>
          <h2> Crie sua própria sala de forma fácil </h2>
        </footer>
      </form>
    </main>
  </section>
</body>

</html>